<!doctype html>

<html class="no-js" lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="/static/images/logo_klarvoyant_symbol.jpg" type="image/x-icon" />
        {% block css %}
            <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
            <link rel="stylesheet" href="/static/css/slideshow.css" type="text/css" />
        {% endblock css %}
        
        <title>Klarvoyant - {% block title %}{% endblock title %}</title>
        
        <meta name="description" content="Klarvoyant">
        <meta name="author" content="Klarvoyant">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        {% block extrahead %}{% endblock extrahead %}
        {% comment %}
        {% block facebook %}
                <meta property="og:title" content="Klarvoyant"/>
                <meta property="og:type" content="company"/>
                <meta property="og:url" content="{{ SITE_ROOT_URL }}"/>
                <meta property="og:image" content=""/>
                <meta property="og:site_name" content="Klarvoyant"/>
                <meta property="fb:admins" content=""/>

        {% endblock %}
        {% endcomment %}
    </head>

    <body id="{% block body_id %}base{% endblock body_id %}">
        <div class="container" >
            {% block body %}
                
                    {% spaceless %}
                    <div class="header" >
                        {% block header %}
                            <!-- Header -->
                            {% include 'header.html' %}
                        {% endblock header %}
                    </div>                    
                    <div class="content" >
                        {% block banner %}
                            <div class="banner" >
                                <!-- Banner -->
                            </div>
                        {% endblock banner %}
                        {% block content %}
                            <h1>Welcome Klarvoyant</h1>
                        {% endblock content %}
                    </div>
                    <div class="footer" >
                        {% block footer %}
                           <!-- Footer -->
                           {% include 'footer.html' %}
                        {% endblock footer %}
                    </div>
                    {% endspaceless %}
                
            {% endblock body %}
        </div>       
    </body>
</html>
