{% extends "base.html" %}

{% load base_tags %}
{% block title %}Consulting{% endblock title %}
{% block body_id %}consulting{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<div class="inner_content">
		<h2 class="content_head">Klarvoyant Consulting</h2>
		<div class="consulting_contents">
			<img src="/static/images/consulting.jpg">
			<img src="/static/images/consulting_right.jpg">
		</div>
	</div>
{% endblock content %}