{% extends "base.html" %}

{% load base_tags %}
{% block title %}Core Values{% endblock title %}
{% block body_id %}core_values{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<div class="core_values_contents">
		<h2 class="content_head">Klarvoyant Philosophy</h2>
		<p>The satisfaction of our clients is our top priority. Klarvoyant believes that best is achieved by understanding the needs of our clients and through them the end customers gets the best value.</p>
		<h2 class="content_head">Core Principles</h2>
		<div class="content_top">
			<strong>Excellence . . .</strong>
			to be the best in quality and in everything we do
			<br>
			<br>
			<strong>Passion . . .</strong>
			to be passionate about winning and about our brands, products and people, thereby delivering superior value to our shareholders.
			<br>
			<br>
			<strong>Risk Tolerance . . .</strong>
			to create a culture where entrepreneurship and prudent risk taking are encouraged and rewarded.
			<br>
			<br>
			<strong>Motivation . . . </strong>
			to celebrate success, recognizing and rewarding the achievements of individuals and teams.
			<br>
			<br>
			<strong>Innovation . . .</strong>
			to innovate in everything, from products to processes.
			<br>
			<br>
			<strong>Empowerment . . .</strong>
			to empower our talented people to take the initiative and to do whats right.
			<br>
			<br>
			<strong>Customer centric . . . </strong>
			To conduct the business in the most approprtiate way so as satisfy the customer
			<br>
		</div>
		<h2 class="content_head">Core Values</h2>
		<div class="content_top">
			<strong>Alignment and accountability:</strong>
			We accept responsibility for our actions. We make and support business decision.
			<br>
			<br>
			<strong>Scientific orientation:</strong>
			We shall strive to provide the customer & our people the scientific knowledge to keep them updated at all times.
			<br>
			<br>
			<strong>Customer Service Excellence:</strong>
			We are dedicated to satisfying customer needs and honoring commitments that we have made to them.
			<br>
			<br>
			People We at Klarvoyant we understand and believe that people are the pillars of any organisation we shall value their inputs and Human resource is the most valuable resource.
			<br>
			<br>
			<strong>Teamwork:</strong>
			Our team is supportive of each others efforts, loyal to one another, and care for each other both personally and professionally.
			<br>
			<br>
			<strong>Balance:</strong>
			We are flexible, helping team members strike a healthy work and life balance.
			<br>
			<br>
			<strong>Human values:</strong> We strive to help and improve the communities where we work and live. We are concerned about the lesser fortunate to have access to the health care
			<br>
			<br>
			<strong>Integrity:</strong>
			We act with honesty and integrity, not compromising the truth.
			<br>
			<br>
			<strong>Passion for results: </strong>We show pride, enthusiasm and dedication in everything that we do. We are committed to selling and delivering high quality products and services.
			<br>
			<br>
			<strong>Respect:</strong>
			We treat our team members, customers, partners and suppliers with mutual respect and sensitivity, recognizing the importance of diversity. We respect all individuals and value their contributions.
			<br>
			<br>
			<strong>Open Communication:</strong>
			All team members are encouraged to openly share their opinions and views.
			<br>
		</div>
	</div>
{% endblock content %}