{% extends "base.html" %}

{% load base_tags %}
{% block title %}CRO{% endblock title %}
{% block body_id %}cro{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<div class="cro_contents">
		<h2 class="cro_head">CRO</h2>
		<div class="left_contents">
			<p>Future plans of Klarvoyant Contract Research Organisation (CRO) will focus on working in the Life Sciences area.With increasing Ageing and obese population the healthcare needs will increase and drugs will be used for longer duration. For instance, an ageing global population is poised to drive pharmaceutical drugs for indications such as Alzheimer’s diseas, Drugs that address rising multifactorial disorders such as cancer as well as lifestyle disorders such as obesity etc., with that in focus Klarvoyant has identified..</p>
			<ol>
				<li>Alzheimer’s , Diabetes, CRF & Cancer</li>
				<li>Cardiovascular Medical Device</li>
				<li>Nephrology Related Medical Devices</li>
			</ol>
			<p>To be Headquartered in Bonn , Germany , we will be strategically situated in one of the world's largest and most comprehensive biotech companies zone of the world.</p>
			<p>Indian clinical research industry is estimated at over US$ 120 million. It complies with ICHGCP protocols. It is a growing body of trained and experienced investigators. India is expected to capture about 15 per cent of the global clinical research market by 2015.</p>
			<p>With increasing Clinical research organizations are contributing patients from India for multicentric global trials  for FDA/EMEA submissions. Klarvoyant CRO aims to be amongst the  top 15 global CROs that have a presence in India by the year 2018.</p>
			<p>Indian operations will be based out of Bangalore where we plan have Data processing center apart from Clinical research. </p>
		</div>
		<div class="right_image">
			<img src="/static/images/cro.png">
			<img src="/static/images/cro_pict1.png">
		</div>
	</div>
{% endblock content %}