{% extends "base.html" %}

{% load base_tags %}
{% block title %}Ferti Care{% endblock title %}
{% block body_id %}ferti_care{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<div class="inner_content">
		<h2 class="content_head">Klarvoyant Biogenics</h2>
		<h2 class="content_head">Ferticare Products</h2>
		<div class="left_section">
			<div class="top_content">
				<p>
					<strong>Gamigro -C 2000 IU, 5000 IU</strong>
					<br>
					Presentation:
					<br>
					Each vial contains:
					<br>
					Chorionic Gonadotrophin IP 2000/5000/10000 IU Excipients q.s.
					<br>
					Each vial Accompanied with - Water for injection 2ml
					<br>
					<br>
					<strong>Gamigro -M 75 IU ,150 IU</strong>
					<br>
					Presentation:
					<br>
					Each vial contains:
					<br>
					Menotrophin BP equivalent to activity of
					<ul>
					<li>Follicle Stimulating Hormone (FSH) 75/150 I.U. </li>
					<li> Luteinsing Hormone (LH) 75/150 I.U. </li>
					<li> Excipients q.s.</li>
					</ul>
					Each   vial Accompanied with - Water for injection 2ml
					<br>
					<br>
					<strong>Gamigro - F 75 IU ,150 IU</strong>
					<br>
					Presentation:
					<br>
					Each vial contains:
					<br>
					Urofolitrophin BP equivalent to activity of
					<br>
					<ul>
					<li>Follicle Stimulating Hormone (FSH) 75/150 I.U.</li>
					<li>Excipients q.s.</li>
					</ul>
					Each vial of HMG-SP is accompanied by 2ml ampoule   of Sodium Chloride Inj. IP 0.9% w/v
				</p>
				
			</div>
		</div>
		<div class="right_section">
			<img src="/static/images/ferticare.jpg" title="Ferti Care" alt="Ferti Care">
		</div>
	</div>
{% endblock content %}