{% extends "base.html" %}

{% load base_tags %}
{% block title %}Fharma Care{% endblock title %}
{% block body_id %}fharma_care{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<div class="inner_content">
		<h2 class="content_head">Pharmacare Portfolio</h2>
		<div class="left_section">
			<div class="top_content">
				<p>
					<strong>
						<u class="content_head">Anti infectives</u>
					</strong>
					<br>
					<strong>Unobact</strong>
					( Pipericilin &  tazobactom)
					<br>
					<strong>Avitrax s</strong>
					(Ceftrioxone sulbactum injection)
					<br>
					<strong>Avixime 100 DT</strong>
					,200 DT (Cefixime100 ,200)
					<br>
					<strong>Octoflox</strong>
					– (Ofloxacin200 mg)
					<br>
					<strong>Octoflox – OZ</strong>
					  (Ofloxacin200 mg Ornidazole500 mg)
					 <br>
					 <strong>Stumz 250 ,500</strong>
					(Azithromycin250 mg ,500 susp)
					<br>
					<strong>
						<u class="content_head">Vitamins & Supplements</u>
					</strong>
					<br>
					<strong>Purefer Tab</strong>
					<strong>.</strong>
					(Sodium Feredetate 231 mg ,Folic Acid1.5 mg ,Vitamin B1215 mcg)
					<br>
					<strong>Octacal tab</strong>
					 (Calcium citrate 1186 mg equvalent to 250 mg elemental calcium,Vit D3 100 iu ,Manganese 0.75 mg, Zinc 3.75 ,copper sulphate1 mg,Zinc3.75 mg,Boron  0.25 mg, copper sulphate 1 mg)
					<br>
					<strong>Aviactive Cap</strong>
					. (Multivitamins with ginseng)
					<br>
					<strong>
						<u class="content_head">Gastrointestinals</u>
					</strong>
					<br>
					<strong>Avipanta  tablet</strong>
					  ( Pantaprazole 40 mg)
					<br>
					<strong>Avipanta D</strong>
					<strong>  </strong>
					( Pantaprazole 40 mg , Domperidone)
					<br>
					<strong>Avipanta DSR</strong>
					( Pantaprazole 40 mg , Domperidone SR)
					<br>
					<strong>Avipanta Inj.</strong>
					<strong>40 MG </strong>
					( Pantaprazole 40 MG)
					<br>
					<strong>
						<u class="content_head">Analagesics & Anti inflammatory</u>
					</strong>
					<br>
					<strong>Aviflam </strong>
					 (Aceclofenac100 mg +Paracetamol500 mg)
					<br>
					<strong>Optizox Tab</strong>
					.( Diclofenac Pot 50 mg Paracetamol 325 mg ,Chorzoxazone 250 mg)
					<br>
					<strong>Clomol Gel</strong>
					      Diclofenc Diethyl Amonium gel ,Menthol
					<br>
					<strong>Clomol-S</strong>
					(Diclofenac Pot 50 mg  ,serratiopeptdase 5mg)
				</p>
			</div>
		</div>
		<div class="right_section">
			<img src="/static/images/fharmacare.jpg" title="Fharma Care" alt="Fharma Care">
		</div>
	</div>
{% endblock content %}