
<div id="testimonial_bg" >
    <div class="footer_links">
        <div class="footer_menus">
            {% for menu in menu_obj %}                        
                <ul><a href="{% url 'render_menupage' menuslug=menu.slug %}">{{ menu.title }}</a>           
                    {% for submenu in menu.submenu_set.all %}
                        <li><a href="{% url 'render_submenupage' menu_slug=menu.slug submenuslug=submenu.slug %}">{{ submenu.title }}</a></li>
                    {% endfor %}                    
                </ul>                        
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="footer_below" > 
    <div class="footer_menus">      
        <div id="links">
            <a href="https://www.facebook.com/pages/Technomics-Software-Solutions/503210896439006"><img src="/static/images/facebook.jpg" id="fb" ></a>
            <a href="https://twitter.com/Technomicss"><img src="/static/images/twitter.jpg" id="twtr" ></a>
            <a href="http://www.youtube.com/watch?v=dBwzhLG4KQQ"><img src="/static/images/youTube.jpg" id="utub" ></a>
        </div>
        <p> Copyright 2011. Klarvoyant Biogenics Pvt Ltd. All Rights Reserved</p>
    </div> 
</div>
