{% load base_tags %}
<a href="{% url 'home' %}" class="logo" ><img src="/static/images/logo_klarvoyant.jpg " alt="logo"></a>
<div class="menus">
    {% if menu_obj %}
    <ul class="menu">
        {% for menu in menu_obj %}                        
            <li clas="menu_li"><a href="{% url 'render_menupage' menuslug=menu.slug %}">{{ menu.title|uppercase }}</a>
                <ul class="submenu">
                    {% for submenu in menu.submenu_set.all %}
                        <li class="submenu_li"><a href="{% url 'render_submenupage' menu_slug=menu.slug submenuslug=submenu.slug %}">{{ submenu.title|uppercase }}</a></li>
                    {% endfor %}
                </ul>
            </li>                        
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="absolute_header">
    <ul>
        <li><a href="{% url 'nephrocare' %}">Nephro Care</a></li>
        <li><a href="#">Ferti Care</a></li>
        <li><a href="#">Fharma Care</a></li>
    </ul>
</div>
