{% extends "base.html" %}

{% load base_tags %}
{% block title %}Welcome to Klarvoyant{% endblock title %}
{% block body_id %}home_page{% endblock body_id %}
{% block banner %}
    {% include 'slideshow.html' %}
{% endblock banner %}
{% block content %}
    <div class="home_contents">
        <h2 class="content_head">Welcome to Klarvoyant Biogenics</h2>
        <div class="home_page_contents">
            <strong>Klarvoyant Biogenics </strong>
            is a new subsidiary organization of their parent company and is a global house of enterprise with its intellects having exceptional competence and pioneering attitude, joining the league of other elite pharma majors in identifying, processing and marketing innumerable molecules and devices for preserving and maintaining a healthier mankind. We begin our everlasting journey with an array of products and services which would be in line with our motto “
            <em>Quality Solutions Redefined</em>
            ”
            <br>
            <br>
            <strong>Klarvoyant Biogenics</strong>
            is dedicated to create value through innovation and growth with scientific focus. Our products meet the standards and specifications of WHO GMP/MHRA/USA FDA.
            <br>
            <br>
            <strong>Klarvoyant Biogenics</strong>
            is committed to its chief principle of providing sustainability in maintaining customer satisfaction in dealing with their products and services, sustainability in inclusive progress of their people and sustainability in the growth of the investments of its shareholders.
            <strong>Klarvoyant Biogenics</strong>
            is also devoted to its role as a socially and ethically responsible organization.
            <br>
            <br>
            Klarvoyant Biogenics India is a private limited organization and plans to go public in the year of 2016-17. The executive leadership team of this subsidiary is comprises of leaders with decades of experience in Corporate management, Pharmaceuticals health care management, Financial management and HR management which gives the organization to experience both diversity of thoughts and multiplicity in approaches in organizing business. Currently they have administrative head quarter based In India and considering the future they are likely to set up International base in Middle East for their global operations.
            <br>
            <br>
            In India
            <strong>Klarvoyant Biogenics pvt ltd</strong>
            plans to acquire/build a state of the art manufacturing facility, entering into co-promotion and licensing agreements with other companies, to bring international molecules to India in association with leading research organisations and also build a CRO with a team of leading medical practioners, researchers and academicians.  These entire operations will be directed and monitored by their corporate management board.
            <br>
            <br>
            Considering the rich resources of India in terms of people with knowledge, work and communications skills and also the growth prospects in India .Klarvoyant Biogenics Pvt ltd. and their global partners have decided to construct a team for this subsidiary with a majority of Indians and they have already started to hand pick professionals for this objective.

        </div>
    </div>
    
{% endblock %}
