{% extends "base.html" %}

{% load base_tags %}
{% block title %}Nephro Care{% endblock title %}
{% block body_id %}nephro_care{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<div class="inner_content">
		<h2 class="content_head">Klarvoyant Biogenics</h2>
		<h2 class="content_head">Nephro Care Products</h2>
		<div class="left_section">
			<div class="top_content">
				<strong>Epomine</strong>
				<strong> 2000 IU </strong>
				Recombinant Human Erythropoietin (rHuEPO) Injection 2000 IU/ 0.5 mL 
				<br>
				<strong>Epomine</strong>
				<strong> 4000 IU </strong>
				Recombinant Human Erythropoietin (rHuEPO) Injection 4000 IU  1.0ml
				<br>
				<strong>Epomine</strong>
				<strong> 10000 IU </strong>
				Recombinant Human Erythropoietin(rHuEPO)
				<strong>10000 IU </strong>
			</div>
			<div class="top_content">
				<h2 class="content_head">VALENFER INJ</h2>
				Iron sucrose 5 ml equivalent to 100 mg of elemental iron (Iron sucrose)
				<h2 class="content_head">TAB NABICO </h2>
				Each film-coated tablet of NABICO contains Sodium Bicarbonate I.P. 500 mg
				<h2 class="content_head">UPPKOST – O INJ 4mg /8 Mg</h2>
				<strong>Ondansetron</strong>
				<strong> Injections  </strong>
				Each 1 mL of aqueous solution in the 2-mL single-dose vial contains 2 mg of ondansetron as the hydrochloride dihydrate;
				<h2 class="content_head">Actiko</h2>
				Teicoplanin 400mg
				<h2 class="content_head">LISANEM</h2>
				Injection Meropenem 0.5gm/1 gm
			</div>
		</div>
		<div class="right_section">
			<img src="/static/images/Dialysis.jpg" title="Dialysis" alt="Dialysis">
			<img src="/static/images/dialisys-machine.jpg" title="Dialisys-machine" alt="Dialisys-machine">
		</div>
	</div>
{% endblock content %}