{% extends "base.html" %}

{% load base_tags %}
{% block title %}Scientific Information{% endblock title %}
{% block body_id %}scientific_info{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<!-- <div class="cro_contents">
		<h2 class="cro_head">CRO</h2>
		<div class="left_contents">
		</div>
		<div class="right_image">
		</div>
	</div> -->
	<ul class="info_tab">
	  <li class="active">
	    <a href="" id="nephro" title="Nephrology/Urology News">Nephrology/Urology News</a>
	  </li>
	  <li><a href="" id="fertility" title="Fertility News">Fertility News</a></li>
	  <li><a href="" id="news" title="Klarvoyant News">Klarvoyant News</a></li>
	</ul>
	<div class="nephrology" id="nephrology_news"><p></p></div>
	<div class="fertility" id="nephrology_news"><p></p></div>
	<div class="klarvoyant" id="klarvoyant_news"><p></p></div>				
	<br>
						  
{% endblock content %}