{% extends "base.html" %}

{% load base_tags %}
{% block title %}Scientific Information{% endblock title %}
{% block body_id %}scientific_info{% endblock body_id %}
{% block banner %}
	<div class="banner_image">
		<img src="/static/images/banners/klarvoyant_banner.jpg">
	</div>
{% endblock banner %}
{% block content %}
	<!-- <div class="cro_contents">
		<h2 class="cro_head">CRO</h2>
		<div class="left_contents">
		</div>
		<div class="right_image">
		</div>
	</div> -->
	<div class="info_contents">
		<ul class="info_tab">
		  <li class="active">
		    <a href="" class="nephro" title="Nephrology/Urology News">Nephrology/Urology News</a>
		  </li>
		  <li><a href="" class="fertility" title="Fertility News">Fertility News</a></li>
		  <li><a href="" class="news" title="Klarvoyant News">Klarvoyant News</a></li>
		</ul>
	</div>
	<div class="nephro_div">
		<p>
			<a target="_blank" href="http://www.era-edta2013.org/en-US/home">http://www.era-edta2013.org/en-US/home</a>
			<br>
			<a target="_blank" href="http://www.eraedta2012.org/">EDTA -ERA 49th congress XLVIII May 24 - 27 Paris, France</a>
			<br>
			<a target="_blank" href="http://www.theisn.org">International Society of Nephrology</a>
			<br>
			<a target="_blank" href="http://www.blackwellpublishing.com/journals/KID">Kidney International</a>
			<br>
			<a target="_blank" href="http://nephron.com">Nephron Information Centre</a>
			<br>
			<a target="_blank" href="http://cjasn.asnjournals.org/">American Journal of Nephrology</a>
		</p>
	</div>
	<div class="fertility_div">
		<div class="top_content">
			AICOG 2013 Mumbai January 16 to 20, 2013
			<a target="_blank" href="http://www.aicog2013.com/home">http://www.aicog2013.com/home</a>
			<br>
			ISAR 2013
			<strong>ISAR 2013, Rourkela, </strong>
			<a target="_blank" href="http://www.isar2013.com/index.aspx">http://www.isar2013.com/index.aspx</a>
			Upcoming International meetings
			<br>
			2nd Joint meeting of the ESHRE and the ASRM -
			<a target="_blank" href="http://www.asrm.org/Atlantis2013/">The Best of ESHRE & ASRM</a>
			- Atlantis, Paradise Island, Bahamas, March 6-10 2013
			<br>
			29th Annual Meeting -
			<a target="_blank" href="http://www.eshre.eu/ESHRE/English/Annual-meeting/London-2013/page.aspx/1541">ESHRE 2013</a>
			- London, UK, 7-10 July 2013
			<br>
			30th Annual Meeting - ESHRE 2014 - Munich, Germany, 29 June - 2 July 2014
			<br>
			<a target="_blank" href="http://www.eshre.eu/home/page.aspx/2">ESHRE</a>
			<a target="_blank" href="http://www.asrm.org/">
			<br>
			ASRM
			</a>
			<a target="_blank" href="http://www.isarindia.net/">
			<br>
			ISAR
			</a>
		</div>
		<h2>Online Journals</h2>
		<div class="middle_content">
			<a target="_blank" href="http://www.bionews.org.uk/home">Infertility News</a>
			<br>
			<a target="_blank" href="http://www.asrm.org/FertilityAndSterility/">Fertilty & Sterility</a>
			<br>
			<a target="_blank" href="http://www.eshre.eu/ESHRE/English/Publications/OUP/Human-Reproduction/page.aspx/328">Human Reproduction</a>
			<br>
			<a target="_blank" href="http://www.asrm.org/detail.aspx?id=86">Sexuality, Reproduction and Menopause</a>
			<br>
			<a target="_blank" href="http://www.asrm.org/detail.aspx?id=2219">Journal of Assisted Reproduction and Genetics</a>
			<br>
		</div>
		<h2>Upcoming meetings</h2> 
		<div class="bottom_content">
			<a target="_blank" href="http://www.eshre.eu/ESHRE/English/Annual-meeting/Stockholm-2011/Welcome/page.aspx/347">ESHRE Annual meeting 2011 Stocholm</a>
			<br>
			<a target="_blank" href="http://www.asrm.org/annualmeeting.aspx">ASRM annual Meeting 2011 orlando</a>
		</div>
	</div>
	<div class="news_div">
		<h2>Updating Shortly...</h2>
	</div>
		
	<!-- <div class="nephrology" id="nephrology_news"><p></p></div>
	<div class="fertility" id="nephrology_news"><p></p></div>
	<div class="klarvoyant" id="klarvoyant_news"><p></p></div> -->				
	<br>
						  
{% endblock content %}