body {
    font-family: Arial;
    background-color: #FFFFFF;
}
.header {
    width: 100%;
    height: 100px;
    position: relative;
}
.header .menus {
    width: auto;
    height: 35px;
    float: right;
    position: relative;
}
.header .menus ul.menu li {
    float: left;
    padding: 0 8px;
    position: relative;
    height: auto;
    list-style: none outside none;
}
.header .menus ul.menu li a {
    color: #1D5073;
    font-size: 10px;
    font-weight: bold;
    outline: 0 none;
    text-decoration: none;
}
.header .menus ul.menu li a:hover {
    color: #B62721;
}
.header .menus ul.menu li ul {
    display: none;
}
.header .menus li:hover a {
    text-decoration: none;
    color: #1D5073;
    font-size: 15px;
}
.header .menus li:hover {
    float: left;
    padding: 0 8px;
    position: relative;
    height: auto;
    list-style: none outside none;   
}   
.header .menus ul li:hover > ul.submenu {
    display: block;
    list-style: none;
    position: absolute;
    height: auto;
    float: right;
}
.header .menus ul li:hover > ul.submenu li {
    clear:both;
    border-style:none;
    min-width: 250px;
    height: auto;
    height: 20px;
    padding: 3px;
    right: 39px;
    background-color: #F1F1F1;
    border: 1px solid #FFFFFF;
    z-index: 2;
    
}
.header .menus ul li:hover > ul.submenu li a {
    text-decoration: none;
    color: #1D5073;
    font-size: 12px;
}
.header .contact_no {
    background-image: url(/static/images/telephone.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: block;
    margin-left: 100px;
    width: 161px;
    height: 30px;
    float:  right; 
    
}
.header .contact_no p {
    font-size: 15px;
    color: #1D5073;
    margin: 0px 0 20px 39px;
    line-height: 30px;
}
.logo {
	display: block;
	float: left;
	height: auto;
	width: 150px;
	outline: 0;
}
ul.errorlist {   
    color: #FF0000;
    margin-left: 55px;
    padding-left: 0;
    width: 182px;
    font-size: 13px;
}
ul.errorlist li {
    width: 230px;
    height: auto;
}
.footer {
    width: 1024px;
    margin: auto;
    height: auto;
    width: 100%;
    height: 100px;
    background-color: #373739;
    color: white;
    position: relative;
    left: 0;    
}
.footer #footer_below {
    width: 1024px;
    height: 24px;
    margin: auto;
    position: relative;   
}

 .footer #footer_below #links {
    float: left;
}

.footer #footer_below p{
    color: #808080;
    display: block;
    float: right;
    font-size: 12px;
}

.footer #testimonial_bg {
    width: 100%;
    height: 50px;
    /*background-image: url(/static/images/TestimonialsBg.jpg);*/
    background-repeat: no-repeat;
    display: block;
    position: relative;
    left: 0;
}
.footer #testimonial_bg .footer_links .footer_menus {
    height: 35px;
    margin: auto;
    width: 810px;
    padding-top: 10px;
}
.footer #testimonial_bg .footer_links {
    width: 1024px;
    min-height: 35px;
    height: auto;
    margin: auto;
}
.footer #testimonial_bg .footer_links ul {
    display: block;
    list-style: none;
    float: left;
    padding-left: 20px;
    margin-top: 5px;     
}
.footer #testimonial_bg .footer_links ul li {
    width: auto;
    height: 25px;                          
}

.footer #testimonial_bg .footer_links ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
} 
.footer #testimonial_bg .footer_links ul a:hover {
    text-decoration: underline;
    color: #B62721;
} 

.overTxtLabel { 
    color: #FFF; 
    top: 15px;
}

.container {
    width: 1024px;
    height: 100%;
    margin: auto;
}
.container .content {
    min-height: 500px;
    font-size: 13px;
    text-align: justify;
    color: #000000;
    margin-bottom: 30px;
    color: #595858;
    font: 13px/18px "Trebuchet MS";
}
.container .content a{
    text-decoration: none;
}
.container .banner {
    width: 100%;
    height: 255px;
    left: 0;
    position: relative;
}

#home_page .content {
    width: 100%;
}
#home_page .content #contents {
    width: 100%;
    height: 320px;
}

#home_page .content #contents #site_feature {
    float: left;
    width: 625px;
    height: 300px;
}
#home_page .content #contents #site_feature h3 {
    color: #1D5073;
    font-size: 27px;
    font-weight: normal;
    margin: 27px 0 6px 0;
}
#home_page .content #contents #site_feature p {
    width: 349px;
    height: 54%;
    float: left;
    display: block;
    line-height: 20px;
}
#home_page .content #contents #site_feature p a {
    float: left;
    display: block;
    color: red;
    margin-top: 22px;
}
#home_page .content #contents #site_feature img {
    display: block;
    float: left;
    margin: 34px 0px 89px 22px;
    width: 251px;
}
#home_page .content #contents #news_events {
    float: left;
    width:350px;
    height:300px;
    margin-left: 40px;
}
#home_page .content #contents #news_events h3 {
    color: #1D5073;
    font-size: 27px;
    font-weight: normal;
    margin: 27px 0 6px 0;
}
#home_page .content #contents #news_events p{
    text-align: justify;
    width: 349px;
    height: 54%;
    float: left;
    font-size: 13px;
    line-height: 20px;
}
#home_page .content #contents #news_events ul li {
    line-height: 33px;
    
}
#home_page .content #contents #news_events a{
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: red;
    margin-top: 22px;
}
.clear {
    clear: both;
}
.content {
    clear: both;
}
#aboutus .banner {
    background: url(images/banners/about.png) no-repeat;
}
#aboutus .container .content h2 {
    text-align: center;
}
#aboutus .container .content .left_section {
    width: 47%;
    height: auto;
    float: left;
    margin-right: 15px;
}
#aboutus .container .content .left_section p{
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 20px;                  
}
#aboutus .container .content .right_section {
    width: 47%;
    height: auto;
    float: right;
    font-size: 13px;
}
#aboutus .container .content .right_section p{
    text-align: justify;
    width: auto;
    height: auto;
    font-size: 14px;   
    line-height: 20px;                    
}
#aboutus .container .content a{
    text-decoration: none;
    color: red;
}
.contactus_anchor {
    color: #595858;
    font: 13px/18px "Trebuchet MS";
    padding: 2px 7px;
    text-align: justify;
    text-decoration: none;
}
#contactus .banner {
    background: url(images/banners/contacts.png) no-repeat;
}
#contactus .container .content #contactus_section {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    font: 13px/18px "Trebuchet MS";
    padding: 2px 7px;
}
#contactus .container .content #contact_us {
    width: 50%;
    float: left; 
}
#contactus .container .content #contact_us form {
    width: 317px;                     
}
#contactus .container .content #contact_us form label {
    display: block;
    float: left;
    font-weight: bold;
    margin: 5px 5px 5px 0;
    padding: 4px;
    width: 95px;
    color: #1D5073;
}
#contactus .container .content #contact_us form input {
    width: 310px;
    margin-top: 5px;
    height: 25px;
}
#contactus .container .content #contact_us form textarea {
    width: 310px;
    height: 150px;
    margin-top: 5px;
    display: block;
    float: left;
}
#contactus .container .content #contact_us form input[type='submit'] {
    width: 107px;
    background-image: url(/static/images/sendButton.jpg);
    background-repeat: no-repeat;
    height: 39px;
    margin: 10px 0 0 0;
    outline: 0;
}
#contactus .container .content {
    font-size: 15px;
}
#contactus .container .content #contactus {
    width: 45%;
    height: auto;
    float: right;  
}
#contactus .container .content #contactus p {
    margin: 0 0 15px 15px;
    font-size: 14px;
}
#contactus .container .content #contactus h3 {
    color: #1D5073;
}

hr {
    color: #1D5073;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}


.absolute_header {
    height: 50px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
}

.absolute_header ul {
    width: 375px;
    margin: auto;
    height: 50px;
    padding: 0;
}
.absolute_header ul li {
    display: block;
    float: left;
}

.absolute_header ul li a{
    display: block;
    padding: 10px;
    color: #FFFFFF;
    background-color: #000;
    opacity: 0.5;
    width: 100px;
    border-radius: 0px 0px 15px 15px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
#manufacturing .container .content .right_image {
    display: block;
    float:left;
    width: 49%;
    height: auto;
    margin: 0 0 0 15px;
}
#manufacturing .container .content .left_contents {
    display: block;
    float: left;
    width: 49%;
    height: auto;
}
#manufacturing .container .content .left_contents p {
    color: #3C3C3C;
    font-family: "Trebuchet MS";
    margin-top: 0;
}
#manufacturing .banner_image {
    display: block;
    margin-bottom: 15px;
}
#manufacturing .banner_image img {
    margin: auto;
}
.content_head {
    color: #164751;
    font: bold 15px/30px "Trebuchet MS";
}
#cro .left_contents {
    float: left;
    width: 59%;
    height: auto;
}
#cro .container .content .right_image {
    display: block;
    float:left;
    width: 39%;
    height: auto;
    margin: 0 0 0 15px;
}

#cro .container .content .left_contents p {
    color: #3C3C3C;
    font-family: "Trebuchet MS";
    margin-top: 0;
}
#cro .container .content .left_contents ol li {
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #3C3C3C;
} 
#consulting .consulting_contents {
    width: auto;
    height: 350px;
    margin: auto;
}
#consulting .left_contents {
    float: left;
    width: 49%;
    height: 350px;
}
#consulting .container .content .right_image {
    display: block;
    float:right;
    width: 49%;
    height: 350px;
    margin: 0 0 0 15px;
}

#core_values .container .content p {
    color: #3C3C3C;
    font-family: "Trebuchet MS";
    margin-top: 0;
    margin-left: 20px;
}
#core_values .container .content .core_values_contents .content_top {
    margin-left: 20px;
}
#core_values .container .content {
    color: #595858;
    font: 13px/18px "Trebuchet MS";
    padding: 3px 15px;
    text-align: justify;
    text-decoration: none;
}

#scientific_info .nephro_div p a {
    color: #595858;
    font: 13px/26px "Trebuchet MS";
    text-decoration: underline;
}
#scientific_info .nephro_div p {
    margin-left: 34px;
}
#scientific_info .nephro_div {
    height: auto;
    margin-left: 23px;
    margin-top: -11px;
    width: auto;
}
#scientific_info .fertility_div {
    color: #595858;
    font: 13px/26px "Trebuchet MS";
    padding: 3px 15px;
    text-align: justify;
    text-decoration: none;
    height: auto;
    margin-left: 23px;
    margin-top: -11px;
    width: auto;
}
#scientific_info .fertility_div h2{
    color: #164751;
    font: bold 15px/30px "Trebuchet MS";
}
#scientific_info .fertility_div .top_content {
    margin: 0 0 0 20px;
}
#scientific_info .fertility_div .top_content a {
    color: #595858;
    text-decoration: underline;
}
#scientific_info .fertility_div .middle_content {
    color: #595858;
    font: 13px/26px "Trebuchet MS";
    text-decoration: underline;
    margin: 0 0 0 20px;
}
#scientific_info .fertility_div .middle_content a {
    color: #595858;
}
#scientific_info .fertility_div .bottom_content {
    font: 13px/26px "Trebuchet MS";
    text-decoration: underline;
    margin: 0 0 0 20px;
}
#scientific_info .fertility_div .bottom_content a {
    color: #595858;
}
#scientific_info .news_div {
    color: #595858;
    font: 13px/26px "Trebuchet MS";
    padding: 3px 15px;
    text-align: justify;
    text-decoration: none;
    height: auto;
    margin-left: 23px;
    margin-top: -11px;
    width: auto;
}
#scientific_info .news_div h2{
    color: #164751;
    font: bold 15px/30px "Trebuchet MS";
}

#home_page .home_contents .home_page_contents { 
    padding: 3px 15px;
    text-align: justify;
    text-decoration: none;
}
.top_content {
    margin-left: 15px;
}

